@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {

    font-size: 20px;

    /* Sizes */

    --sze-sml: 10px;
    --sze-rgl: 20px;
    --sze-lrg: 40px;
    --sze-top-bar: 50px;

    /* Font-sizes */

    --fnt-sml: 0.5rem;
    --fnt-rgl: 1rem;
    --fnt-lrg: 2rem;

    /* Shadows */

    --sdw-rgl: 0 2px 4px -2px #2f2f2f;

    /* Colors */

    --clr-on-background: #262626;
    --clr-surface: white;
    --clr-on-surface: #262626;
    --clr-primary: #1f4c94;
    --clr-on-primary: white;
}

* {
    font-family: 'Lato', sans-serif;
    font-size: var(--fnt-rgl);
    color: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: var(--clr-on-background);
}

button {
    box-shadow: var(--sdw-rgl);
    border-radius: var(--sze-sml);
    border: 0;
    background-color: var(--clr-primary);
    color: var(--clr-on-primary);
    padding: var(--sze-sml) var(--sze-rgl);
    cursor: pointer;
}

.card {
    box-shadow: var(--sdw-rgl);
    border-radius: var(--sze-sml);
    padding: var(--sze-rgl);
    background-color: var(--clr-surface);
    color: var(--clr-on-surface);
}

.plug {
    position: fixed;
    right: var(--sze-rgl);
    bottom: var(--sze-rgl);
    font-size: var(--fnt-sml);
}

.plug a {
    text-decoration: none;
    font-size: var(--fnt-sml);
}

.top-bar {
    position: fixed;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    width: 100vw;
    height: var(--sze-top-bar);
    background-color: var(--clr-primary);
    color: var(--clr-on-primary);
    padding: var(--sze-sml) var(--sze-rgl);
    box-shadow: var(--sdw-rgl);
}
