@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    /* Sizes */

    --sze-sml: 10px;
    --sze-rgl: 20px;
    --sze-lrg: 40px;

    /* Shadows */

    --sdw-rgl: 0 0 5px 1px #111111;

    /* Colors */

    --clr-on-surface: white;
}

* {
    font-family: 'Lato', sans-serif;
}

body, .bg {
    background-image: url("../bg.jpg");
    background-size: cover;
}

body {
    overflow: auto hidden;
}

.transparent-card {
    box-shadow: var(--sdw-rgl);
    border-radius: var(--sze-sml);
    background-color: rgba(0, 0, 0, 0.2);
    padding: var(--sze-rgl);
    color: var(--clr-on-surface);
}
