@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    font-size: 15px;

    /* Radii */

    --radius-corner: 10px;

    /* Spacings */

    --space-small: 7px; /* Elements make up one unit. Only applied so they don't stick right on each other */
    --space-regular: 15px; /* Elements are thematically linked */
    --space-large: 30px; /* Elements have no close connection */

    /* Font-sizes */

    --font-size-small: 0.9rem; /* Texts which are less important */
    --font-size-regular: 1rem; /* Texts in paragraphs, buttons, etc. Default */
    --font-size-large: 1.2rem; /* Headings and other emphasized text */

    /* Shadows */

    --shadow-regular: 0 2px 4px -2px #2f2f2f;

    /* Colors */

    --color-on-background: #ffffff;
    --color-surface: #fffbfc;
    --color-on-surface: #1d1b1e;
    --color-surface-variant: #e7e0ec;
    --color-on-surface-variant: #49454f;
    --color-primary: #315da8;
    --color-on-primary: #ffffff;
    --color-primary-container: #d6e2ff;
    --color-on-primary-container: #001a43;
    --color-secondary: #6e5d00;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #fce264;
    --color-on-secondary-container: #221b00;
    --color-error: #b3261e;
    --color-on-error: #ffffff;
}

* {
    font-family: "Lato", sans-serif;
    font-size: var(--font-size-regular);
    color: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: var(--color-on-background);
    background-size: cover;
    background-position: center;
}

.background,
body {
    color: var(--color-on-background);
}

.surface {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
}

.surface-variant {
    background-color: var(--color-surface-variant);
    color: var(--color-on-surface-variant);
}

.primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}

.primary-container {
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
}

.secondary {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
}

.secondary-container {
    background-color: var(--color-secondary-container);
    color: var(--color-on-secondary-container);
}

.error {
    background-color: var(--color-error);
    color: var(--color-on-error);
}

.card {
    padding: var(--space-small) var(--space-regular);
    border-radius: var(--radius-corner);
    box-shadow: var(--shadow-regular);
}
