@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  font-size: 15px;

  /* Sizes */

  --sze-sml: 5px;
  --sze-rgl: 15px;
  --sze-lrg: 30px;
  --sze-corner: 10px;

  /* Font-sizes */

  --fnt-sml: 0.9rem;
  --fnt-rgl: 1rem;
  --fnt-lrg: 1.2rem;

  /* Shadows */

  --sdw-rgl: 0 2px 4px -2px #2f2f2f;

  /* Colors */

  --clr-on-background: #ffffff;
  --clr-surface: #fffbfc;
  --clr-on-surface: #1d1b1e;
  --clr-surface-variant: #e7e0ec;
  --clr-on-surface-variant: #49454f;
  --clr-primary: #315da8;
  --clr-on-primary: #ffffff;
  --clr-primary-container: #d6e2ff;
  --clr-on-primary-container: #001a43;
  --clr-secondary: #6e5d00;
  --clr-on-secondary: #ffffff;
  --clr-secondary-container: #fce264;
  --clr-on-secondary-container: #221b00;
  --clr-error: #b3261e;
  --clr-on-error: #ffffff;
}

* {
  font-family: "Lato", sans-serif;
  font-size: var(--fnt-rgl);
  color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: var(--clr-on-background);
}

.background,
body {
  color: var(--clr-on-background);
}

.surface {
  background-color: var(--clr-surface);
  color: var(--clr-on-surface);
}

.surface-variant {
  background-color: var(--clr-surface-variant);
  color: var(--clr-on-surface-variant);
}

.primary {
  background-color: var(--clr-primary);
  color: var(--clr-on-primary);
}

.primary-container {
  background-color: var(--clr-primary-container);
  color: var(--clr-on-primary-container);
}

.secondary {
  background-color: var(--clr-secondary);
  color: var(--clr-on-secondary);
}

.secondary-container {
  background-color: var(--clr-secondary-container);
  color: var(--clr-on-secondary-container);
}

.error {
  background-color: var(--clr-error);
  color: var(--clr-on-error);
}

.card {
  padding: var(--sze-sml) var(--sze-rgl);
  border-radius: var(--sze-corner);
  box-shadow: var(--sdw-rgl);
}
