:root {
    --background: #242424;
    --surface: #363636;
    --onSurface: #eeeeee;
    --primary: #448aff;
    --primaryLight: #83b9ff;
    --primaryDark: #005ecb;
    --onPrimary: #eeeeee;
    --secondary: #f9a825;
    --secondaryLight: #ffd95a;
    --secondaryDark: #c17900;
    --onSecondary: #111111;
    --shadow: #1e1e1e
}

body {
    background-color: var(--background) !important;
}

.card {
    background-color: var(--surface) !important;
    box-shadow: 0 0 5px 2px var(--shadow);
    border: 0 !important;
}

.btn-primary {
    background-color: var(--primary) !important;
    color: var(--onPrimary) !important;
    border: 0 !important;
}

.btn-primary:hover {
    background-color: var(--primaryLight) !important;
}

.btn-primary:active {
    background-color: var(--primaryDark) !important;
}

#page-footer {
    background-color: var(--surface) !important;
    color: var(--onSurface) !important;
}
