:root {
    --background: #242424 !important;
    --surface: #363636 !important;
    --onSurface: #eeeeee !important;
    --primary: #448aff !important;
    --primaryLight: #83b9ff !important;
    --primaryDark: #005ecb !important;
    --onPrimary: #eeeeee !important;
    --secondary: #f9a825 !important;
    --secondaryLight: #ffd95a !important;
    --secondaryDark: #c17900 !important;
    --onSecondary: #111111 !important;
    --shadow: #1e1e1e !important;
}

body {
    background-color: var(--background) !important;
}

a {
    color: var(--secondary) !important;
}

a:hover {
    color: var(--secondaryDark) !important;
}

a:active {
    color: var(--secondaryDark) !important;
    background-color: transparent !important;
}

a:visited {
    color: var(--secondaryLight) !important;
}

.card {
    background-color: var(--surface) !important;
    color: var(--onSurface) !important;
    box-shadow: 0 0 5px 2px var(--shadow);
    border: 0 !important;
}

.btn-primary {
    background-color: var(--primary) !important;
    color: var(--onPrimary) !important;
    border: 0 !important;
}

.btn-primary:hover {
    background-color: var(--primaryLight) !important;
}

.btn-primary:active {
    background-color: var(--primaryDark) !important;
}

#page-footer {
    background-color: var(--surface) !important;
    color: var(--onSurface) !important;
}
