:root {
    --background: #242424 !important;
    --surface: #363636 !important;
    --onSurface: #eeeeee !important;
    --surfaceVariant: #25282a !important;
    --onSurfaceVariant: #eeeeee !important;
    --primary: #448aff !important;
    --primaryLight: #83b9ff !important;
    --primaryDark: #005ecb !important;
    --onPrimary: #eeeeee !important;
    --secondary: #f9a825 !important;
    --secondaryLight: #ffd95a !important;
    --secondaryDark: #c17900 !important;
    --onSecondary: #111111 !important;
    --shadow: #1e1e1e !important;
    --danger: #961818 !important;
    --onDanger: #eeeeee !important;
}

body {
    background-color: var(--background) !important;
}

a {
    color: var(--secondary) !important;
}

a:hover {
    color: var(--secondaryDark) !important;
}

a:active {
    color: var(--secondaryDark) !important;
    background-color: transparent !important;
}

a:visited {
    color: var(--secondaryLight) !important;
}

input[type=text], input[type=number], input[type=password] {
    background-color: var(--surfaceVariant) !important;
    color: var(--onSurfaceVariant) !important;
    border: 0 !important;
    border-radius: 0.25rem;
}

input[type=text]:focus, input[type=number]:focus, input[type=password]:focus {
    outline: none;
}

.card {
    background-color: var(--surface) !important;
    color: var(--onSurface) !important;
    box-shadow: 0 0 5px 2px var(--shadow);
    border: 0 !important;
}

.card-header {
    border-color: var(--surfaceVariant) !important;
}

.btn-primary {
    background-color: var(--primary) !important;
    color: var(--onPrimary) !important;
    border: 0 !important;
}

.btn-primary:hover {
    background-color: var(--primaryLight) !important;
}

.btn-primary:active {
    background-color: var(--primaryDark) !important;
}

.btn-secondary, .btn-light {
    background-color: var(--secondary) !important;
    color: var(--onSecondary) !important;
    border: 0 !important;
}

.btn-secondary:hover, .btn-light:hover {
    background-color: var(--secondaryLight) !important;
}

.btn-secondary:active, .btn-light:active {
    background-color: var(--secondaryDark) !important;
}

.navbar-bootswatch {
    background-color: var(--surface) !important;
}

.page-item.active .page-link {
    border: 0 !important;
    background-color: var(--primary) !important;
    color: var(--onPrimary) !important;
}

.page-link {
    border: 0 !important;
    background-color: var(--surfaceVariant) !important;
    color: var(--onSurfaceVariant) !important;
}

.alert-danger {
    background-color: var(--danger) !important;
    color: var(--onDanger) !important;
    border: 0 !important;
}

#page-footer {
    background-color: var(--surface) !important;
    color: var(--onSurface) !important;
}

#region-main {
    background-color: var(--surface) !important;
    color: var(--onSurface) !important;
}
