:root {
    --col-background: #101010;
    --col-surface: #383838;
    --col-on-surface: #e1e1e1;
    --col-surface-var: #26262d;
    --col-on-surface-var: #e1e1e1;
    --col-shadow: #000000;
    --col-error: #c95252;
    --col-on-error: #e1e1e1;
}
