:root {
    --background: #242424;
    --surface: #363636;
    --onSurface: #eeeeee;
    --primary: #666DFF;
    --secondary: #d97a4f;
    --secondaryDark: #9f512f;
}

* {
    color: var(--onSurface)
}

body {
    background-color: var(--background) !important;
}

a:link {
    color: var(--secondary);
}

a:hover {
    color: var(--secondaryDark);
}

a:visited {
    color: var(--secondaryDark);
}

.navbar-bootswatch, .card-body, .card, .bg-dark, #region-main {
    background-color: var(--surface) !important;
}

}

.logo {
    height: 25px;
    object-fit: contain;
}

.quick-links {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.links-content {
    display: none;
    position: absolute;
    top: 20px;
    background-color: var(--surface);
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    flex-direction: column;
}

.link-title {
    color: var(--onSurface);
    justify-self: center;
}

.quick-links:hover .links-content {
    display: flex;
}

#page-content {
    margin-top: 20px;
}
