@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --fnt-text: 'Montserrat', sans-serif;

    --col-primary: #6f63fb;
    --col-on-primary: #e1e1e1;
    --col-primary-dark: #645ecc;
    --col-on-primary-dark: #e1e1e1;
    --col-primary-light: #9e9ae5;
    --col-on-primary-light: #2a2a2a;

    --col-secondary: #e5c047;
    --col-on-secondary: #2a2a2a;
    --col-secondary-dark: #a28b47;
    --col-on-secondary-dark: #e1e1e1;
    --col-secondary-light: #efd376;
    --col-on-secondary-light: #2a2a2a;

    --spc-small: 5px;
    --spc-regular: 15px;
    --spc-large: 30px;

    --sdw-small: 0 0 3px 0 var(--col-shadow);
}
