:root {
    --fnt-logo: 3rem;
}

input {
    background-color: transparent;
    border-radius: var(--sze-sml);
    padding: 0 var(--sze-sml);
    border: white 2px solid;
    color: var(--clr-on-surface);
    outline: none !important;
}

form {
    display: flex;
    flex-direction: column;
}

#page-content {
    width: 50vw;
    height: 100vh;
    margin: var(--sze-lrg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    font-size: var(--fnt-logo);
}
