:root {
    --fnt-logo: 3em;
}

#page-content {
    width: 50vw;
    height: 100vh;
    margin: var(--sze-lrg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    font-size: var(--fnt-logo);
}
