:root {
    --fnt-logo: 3rem;
}

input {
    background-color: transparent;
    border-radius: var(--sze-sml);
    padding: 0 var(--sze-sml);
    border: white 2px solid;
    color: var(--clr-on-surface);
    outline: none !important;
    box-sizing: border-box;
}

form {
    margin-top: var(--sze-rgl);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto auto;
    row-gap: var(--sze-sml);
    column-gap: var(--sze-rgl);
}

#page-content {
    width: 50vw;
    height: 100vh;
    margin: var(--sze-lrg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    font-size: var(--fnt-logo);
    margin-bottom: var(--sze-lrg);
}

#username-label {
    grid-area: 1 / 1 / 2 / 2;
}

#password-label {
    grid-area: 1 / 2 / 2 / 3;
}

#username-input {
    grid-area: 2 / 1 / 3 / 2;
}

#password-input {
    grid-area: 2 / 2 / 3 / 3;
}

#login-btn {
    margin-top: var(--sze-rgl);
    grid-area: 3 / 1 / 4 / 3;
}
